.verticalContainer {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.horizontalContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.unitContainerStyle {
  padding: 0 1rem;
  width: 100%;
}
