.shopPage {
  display: flex;
  flex-wrap: wrap;
}

.filterContainer {
  flex: 0 0 20%;
  padding: 0 15px;
}

.mainContainer {
  flex: 0 0 80%;
  padding: 0 15px;
}

@media (max-width: 990px) {
  .mainContainer {
    flex: 0 0 100%;
  }
}
