// Override default variables before the import
$body-bg: white;
$border-color: #ccc;
$theme-colors: (
  "primary": #ff3f3f,
  "danger": #ff4136,
  "light": #fafafa,
  "info": #8c8e9a,
  "dark": #595959,
  "light2": #f5f5f5,
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1340px,
  xxl: 1520px,
);

// Import Bootstrap and its default variables
@import "~bootstrap/scss/bootstrap.scss";
@import "~bootstrap-icons/font/bootstrap-icons.css";
