@font-face {
  font-family: "yekanBakh";
  font-weight: light;
  src: local("yekanBakh"),
    url("./assets/fonts/YekanBakh/Fa/Yekan\ Bakh\ FA\ 03\ Light.woff")
      format("woff");
}
@font-face {
  font-family: "yekanBakh";
  font-weight: normal;
  src: local("yekanBakh"),
    url("./assets/fonts/YekanBakh/Fa/Yekan\ Bakh\ FA\ 04\ Regular.woff")
      format("woff");
}
@font-face {
  font-family: "yekanBakh";
  font-weight: bold;
  src: local("yekanBakh"),
    url("./assets/fonts/YekanBakh/Fa/Yekan\ Bakh\ FA\ 06\ Bold.woff")
      format("woff");
}

body {
  font-family: "yekanBakh";
}
