.image {
  max-width: 100%;
  width: 100%;
  max-height: 400px;
  aspect-ratio: 1;
  border-radius: 10px;
  margin-top: 2rem;
}

@media (max-width: 768px) {
  .image {
    margin-top: 1rem;
  }
}

.border {
  border-bottom: 2px solid #eee;
}
